<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

   # Si l'URL contient c=xxx, on redirige vers c/xxx
   RewriteCond %{REQUEST_URI} ^/api(?:\.php)?/c=([^/]+)(/?.*)$ [NC]
   RewriteRule ^ /api/c/%1%2 [L,QSA,R=301]


   # Redirection legacy ?c=table vers /api/c/table
   RewriteCond %{QUERY_STRING} ^c=([^&]+)&?id=([^&]+)?$
   RewriteRule ^api\.php$ /api/c/%1/%2? [R=301,L]

   RewriteCond %{QUERY_STRING} ^c=([^&]+)$
   RewriteRule ^api\.php$ /api/c/%1? [R=301,L]


    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
